body {
    background-color: lightblue;
  }
  
  h1 {
    color: green;
    text-align: center;
  }
  
  ol {
    font-family: verdana;
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    border-style: solid;
    border-width: 5px;
    padding-bottom: 50px;
  }
  ul{
    font-size: 40px;
  }
  font-size: 20px;
  div {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
  tr{
  font-family: verdana;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  border-style: solid;
  border-width: 5px;
  padding-bottom: 50px;
}
